body {
	background-size:100%;
	background-repeat: no-repeat;
	width: 100%;
	background-color: powderblue;
}

.header {
	margin-top: 2%;
	margin-bottom: 2%;
}
#BG {
	position: relative;

}
#background{
	position: absolute;
	top: 0;
}