
.container-fluid {
	background-color: #60c0dd;
	border-bottom: 2px solid #777;
	margin-bottom: 2%;
}
#main {
	background-image: "/assets/images/ps-bg.png";
	/* why is relative paths so hard?*/
}
.header {
	margin-top: 2%;
	margin-bottom: 2%;
}

#jeopardy {
	visibility: hidden;
}
